@model List<SliderListVM>
@{
    ViewData["Title"] = "Index";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
             <a asp-action="Create" asp-controller="Slider" class="btn btn-outline-success">Create</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Description</th>
                            <th class="text-center" colspan="2">Action</th>
                        </tr>
                    </thead>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Description</td>
                                    <td><a class ="btn btn-outline-info" asp-action="Update" asp-route-id="@item.Id"> Update</a></td>
                                    <td><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                                </tr>
                            </tbody>
                        }
                    }
                    else{

                         <p> No data </p>
                    }
                    
                    
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->